<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ textKeys.fanTitle | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="fan-image-box">
          <ion-img class="fan-image" src="/assets/images/fan.svg"></ion-img>
      </div>

      <ion-button shape="round"
                  class="fan-button"
                  color="{{ (fanActive$ | async) ? 'danger' : 'success' }}"
                  (click)="switchFan()">
        {{ textKeys.fanStart | translate }}

      </ion-button>
    </ion-card-content>
  </ion-card>
  <app-schedule-input-view></app-schedule-input-view>
</ion-content>
