.fan-image{
  height: 20vh;
  width: 45vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fan-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 15vh;
  min-width: 200px;
  margin-top: 5vw;
}
