<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ textKeys.dashboardTitle | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="life-video">
  <ion-card-content >
    <video #videoPlayer width="320" height="240" controls></video>
  </ion-card-content>
</ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="life-data">
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Licht:</ion-label>
                <ion-label>
                  <ion-icon  name="moon-outline"></ion-icon>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Pumpe:</ion-label>
                <ion-label>
                  <ion-icon name="play"></ion-icon>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Lüfter:</ion-label>
                <ion-label>
                  <ion-icon name="stop-circle"></ion-icon>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Temperatur:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Humidty:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Wasser-level Topf:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Wasser-level Reservoir:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Temp. Wasser:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>PH Wasser:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>TDS Wasser:</ion-label>
                <ion-label>500</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-item-divider>
              <ion-label>
                Pflanze 1:
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Feuchtigkeit:</ion-label>
              <ion-label>500</ion-label>
            </ion-item>
            <ion-item-divider>
              <ion-label>
                Pflanze 2:
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Feuchtigkeit:</ion-label>
              <ion-label>500</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
