<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">{{texts.interval | translate }}</ion-label>
      <ion-input type="number" value="0"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{texts.interval | translate }}</ion-label>
      <ion-input type="number" value="0"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position="floating">{{texts.interval | translate }}</ion-label>
      <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{texts.interval | translate }}</ion-label>
      <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>

    <ion-button (click)="onSaveClick()">{{texts.save | translate }}</ion-button>

  </ion-card-content>
</ion-card>

